.h-10 { height: 10px; } 
.font-20 { font-size: 20px; } 
.pt-10 { padding-top: 10px; } 
.a-items-start {    align-items: flex-start;  } 
.a-items-center {    align-items: center;  } 
.h-11 { height: 11px; } 
