.h-10 { height: 10px; } 
.font-20 { font-size: 20px; } 
.font-15 { font-size: 15px; } 
.h-20 { height: 20px; } 
.pt-10 { padding-top: 10px; } 
.a-items-start {    align-items: flex-start;  } 
.a-items-center {    align-items: center;  } 
.h-11 { height: 11px; } 
.h-0 { height: 0px; } 
.mt-20 { margin-top: 20px; } 
.mt-22 { margin-top: 22px; } 
.mt-222 { margin-top: 222px; } 
.mt-2222 { margin-top: 2222px; } 
.mt-22222 { margin-top: 22222px; } 
.mt-222222 { margin-top: 222222px; } 
.mt-22222222 { margin-top: 22222222px; } 
.mt-222222222 { margin-top: 222222222px; } 
.mt-2222222222 { margin-top: 2222222222px; } 
.mt-22222222222 { margin-top: 22222222222px; } 
.mt-222222222222 { margin-top: 222222222222px; } 
