.h-10 { height: 10px; } 
.w-10 { width: 10px; } 
.t-0 { top: 0px; } 
.l-0 { left: 0px; } 
.b-0 { bottom: 0px; } 
.h-0 { height: 0px; } 
.r-0 { right: 0px; } 
.bg-green { background-color: #0B9378; } 
.border-green { border-color: #0B9378; } 
.border-red { border-color: red; } 
.bg-info { background-color: #88bef5; } 
.pt-10 { padding-top: 10px; } 
.a-items-start { align-items: flex-start; } 
.a-items-center { align-items: center; } 
.h-1 { height: 1px; } 
.flex {    display: flex;  } 
.grid {    display: grid;  } 
[class~='placeholder:hover:color-#fff']::placeholder:hover { color: #fff; } 
.b-900 { bottom: 900px; } 
