@use 'variables' as *;
@use 'respond' as *;
@use 'utilities' as *;

$loop-end: 200;
$loop-start: 0;

@for $i from $loop-end through $loop-start {

   
@include sm {
        /** {{breakpoint_start}} **/

  /**
    * Margin
    */
  [class~='sm:mt-#{$i}']{
    margin-top: #{$i}px;
  }


  [class~='sm:mb-#{$i}']{
    margin-bottom: #{$i}px;
  }


  [class~='sm:ml-#{$i}']{
    margin-left: #{$i}px;
  }

  [class~='sm:mr-#{$i}']{
    margin-right: #{$i}px;
  }

  [class~='sm:mx-#{$i}']{
    margin-left: #{$i}px;
    margin-right: #{$i}px;
  }

  [class~='sm:my-#{$i}']{
    margin-top: #{$i}px;
    margin-bottom: #{$i}px;
  }

  [class~='sm:m-#{$i}']{
    margin: #{$i}px;
  }

  /**
    * Padding
    */

  [class~='sm:p-#{$i}']{
    padding: #{$i}px;
  }

  [class~='sm:pt-#{$i}']{
    padding-top: #{$i}px;
  }

  [class~='sm:pb-#{$i}']{
    padding-bottom: #{$i}px;
  }


  [class~='sm:pl-#{$i}']{
    padding-left: #{$i}px;
  }

  [class~='sm:pr-#{$i}']{
    padding-right: #{$i}px;
  }

  [class~='sm:px-#{$i}']{
    padding-left: #{$i}px;
    padding-right: #{$i}px;
  }

  [class~='sm:py-#{$i}']{
    padding-top: #{$i}px;
    padding-bottom: #{$i}px;
  }


  /**
    * Width
    */

  [class~='sm:w-#{$i}']{
    width: #{$i}px;
  }

  [class~='sm:w-#{($i + $loop-end)}']{
    width: #{($i + $loop-end)}px;
  }

  [class~='sm:w-#{($i + $loop-end + $loop-end)}']{
    width: #{($i + $loop-end + $loop-end)}px;
  }

  [class~='sm:w-#{$i}p']{
    width: $i+#{'%'};
  }

  [class~='sm:max-w-#{$i}p']{
    max-width: $i+#{'%'};
  }


  [class~='sm:min-w-#{$i}']{
    min-width: #{$i}px;
  }

  [class~='sm:min-w-#{($i + $loop-end)}']{
    min-width: #{($i + $loop-end)}px;
  }

  [class~='sm:min-w-#{($i + $loop-end + $loop-end)}']{
    min-width: #{($i + $loop-end + $loop-end)}px;
  }

  [class~='sm:min-w-#{$i}p']{
    min-width: $i+#{'%'};
  }

  /**
    * Height
    */

  [class~='sm:h-#{$i}']{
    height: #{$i}px;
  }

  [class~='sm:h-#{$i}p']{
    height: $i+#{'%'};
  }

  [class~='sm:t-#{$i}']{
    top: #{$i}px;
  }

  [class~='sm:t-#{$i}p']{
    top: $i+#{'%'};
  }

  [class~='sm:b-#{$i}']{
    bottom: #{$i}px;
  }

  [class~='sm:b-#{$i}p']{
    bottom: $i+#{'%'};
  }

  [class~='sm:l-#{$i}']{
    left: #{$i}px;
  }

  [class~='sm:l-#{$i}p']{
    left: $i+#{'%'};
  }

  [class~='sm:r-#{$i}']{
    right: #{$i}px;
  }

  [class~='sm:r-#{$i}p']{
    right: $i+#{'%'};
  }

  [class~='sm:z-index-#{$i}'], [class~='sm:z-#{$i}']{
    z-index: $i;
  }

  [class~='sm:z-index--#{$i}'], [class~='sm:z--#{$i}']{
    z-index: -$i;
  }

  [class~='sm:grid-#{$i}-cols-auto']{
    grid-template-columns: repeat(#{$i}, auto);
  }

  [class~='sm:grid-#{$i}-cols-1fr']{
    grid-template-columns: repeat(#{$i}, 1fr);
  }

  [class~='sm:grid-col-span-#{$i}']{
    grid-column: span #{$i};
  }

  [class~='sm:gap-#{$i}']{
    gap: px-to-rem($i);
  }

  [class~='sm:border-radius-#{$i}'],
  [class~='sm:b-radius-#{$i}'], 
  [class~='sm:radius-#{$i}']{
    border-radius: px-to-rem($i);
  }

  [class~='sm:border-b-r-#{$i}']{
    border-bottom-right-radius: px-to-rem($i) !important;
  }
  [class~='sm:border-b-l-#{$i}']{
    border-bottom-left-radius: px-to-rem($i) !important;
  }

  [class~='sm:bd-rad-i-#{$i}']{
    border-radius: px-to-rem($i) !important;
  }

  [class~='sm:border-#{$i}']{
    border: #{$i}px solid;
  }

  [class~='sm:border-t-#{$i}']{
    border-top: #{$i}px solid;
  }

  [class~='sm:border-b-#{$i}']{
    border-bottom: #{$i}px solid;
  }

  [class~='sm:border-l-#{$i}']{
    border-left: #{$i}px solid;
  }

  [class~='sm:border-r-#{$i}']{
    border-right: #{$i}px solid;
  }

  [class~='sm:border-dash']{
    border-style: dashed
  }
  [class~='sm:line-height-#{$i}']{
    line-height: #{$i}px;
  }

  [class~='sm:rotate-x-#{$i}']{
    transform: rotateX(#{$i}deg);
  }

  [class~='sm:rotate-x--#{$i}']{
    transform: rotateX(-#{$i}deg);
  }

  [class~='sm:rotate-y-#{$i}']{
    transform: rotateY(#{$i}deg);
  }

  [class~='sm:rotate-y--#{$i}']{
    transform: rotateY(-#{$i}deg);
  }

  [class~='sm:rotate-z-#{$i}']{
    transform: rotateZ(#{$i}deg);
  }

  [class~='sm:rotate-z--#{$i}']{
    transform: rotateZ(-#{$i}deg);
  }

  [class~='sm:opacity-#{$i}']{
    opacity: #{$i}+'%';
  }

  @for $j from 1 through 5 {
    $value: $i * $j;

    [class~='sm:aspect-ratio-#{$i}-#{$value}'],
    [class~='sm:ratio-#{$i}-#{$value}']{
      aspect-ratio: $i / calc(#{$i} * #{$value});
    }
  }

  /** {{breakpoint_end}} **/
}
    

@include md {
        /** {{breakpoint_start}} **/

  /**
    * Margin
    */
  [class~='md:mt-#{$i}']{
    margin-top: #{$i}px;
  }


  [class~='md:mb-#{$i}']{
    margin-bottom: #{$i}px;
  }


  [class~='md:ml-#{$i}']{
    margin-left: #{$i}px;
  }

  [class~='md:mr-#{$i}']{
    margin-right: #{$i}px;
  }

  [class~='md:mx-#{$i}']{
    margin-left: #{$i}px;
    margin-right: #{$i}px;
  }

  [class~='md:my-#{$i}']{
    margin-top: #{$i}px;
    margin-bottom: #{$i}px;
  }

  [class~='md:m-#{$i}']{
    margin: #{$i}px;
  }

  /**
    * Padding
    */

  [class~='md:p-#{$i}']{
    padding: #{$i}px;
  }

  [class~='md:pt-#{$i}']{
    padding-top: #{$i}px;
  }

  [class~='md:pb-#{$i}']{
    padding-bottom: #{$i}px;
  }


  [class~='md:pl-#{$i}']{
    padding-left: #{$i}px;
  }

  [class~='md:pr-#{$i}']{
    padding-right: #{$i}px;
  }

  [class~='md:px-#{$i}']{
    padding-left: #{$i}px;
    padding-right: #{$i}px;
  }

  [class~='md:py-#{$i}']{
    padding-top: #{$i}px;
    padding-bottom: #{$i}px;
  }


  /**
    * Width
    */

  [class~='md:w-#{$i}']{
    width: #{$i}px;
  }

  [class~='md:w-#{($i + $loop-end)}']{
    width: #{($i + $loop-end)}px;
  }

  [class~='md:w-#{($i + $loop-end + $loop-end)}']{
    width: #{($i + $loop-end + $loop-end)}px;
  }

  [class~='md:w-#{$i}p']{
    width: $i+#{'%'};
  }

  [class~='md:max-w-#{$i}p']{
    max-width: $i+#{'%'};
  }


  [class~='md:min-w-#{$i}']{
    min-width: #{$i}px;
  }

  [class~='md:min-w-#{($i + $loop-end)}']{
    min-width: #{($i + $loop-end)}px;
  }

  [class~='md:min-w-#{($i + $loop-end + $loop-end)}']{
    min-width: #{($i + $loop-end + $loop-end)}px;
  }

  [class~='md:min-w-#{$i}p']{
    min-width: $i+#{'%'};
  }

  /**
    * Height
    */

  [class~='md:h-#{$i}']{
    height: #{$i}px;
  }

  [class~='md:h-#{$i}p']{
    height: $i+#{'%'};
  }

  [class~='md:t-#{$i}']{
    top: #{$i}px;
  }

  [class~='md:t-#{$i}p']{
    top: $i+#{'%'};
  }

  [class~='md:b-#{$i}']{
    bottom: #{$i}px;
  }

  [class~='md:b-#{$i}p']{
    bottom: $i+#{'%'};
  }

  [class~='md:l-#{$i}']{
    left: #{$i}px;
  }

  [class~='md:l-#{$i}p']{
    left: $i+#{'%'};
  }

  [class~='md:r-#{$i}']{
    right: #{$i}px;
  }

  [class~='md:r-#{$i}p']{
    right: $i+#{'%'};
  }

  [class~='md:z-index-#{$i}'], [class~='md:z-#{$i}']{
    z-index: $i;
  }

  [class~='md:z-index--#{$i}'], [class~='md:z--#{$i}']{
    z-index: -$i;
  }

  [class~='md:grid-#{$i}-cols-auto']{
    grid-template-columns: repeat(#{$i}, auto);
  }

  [class~='md:grid-#{$i}-cols-1fr']{
    grid-template-columns: repeat(#{$i}, 1fr);
  }

  [class~='md:grid-col-span-#{$i}']{
    grid-column: span #{$i};
  }

  [class~='md:gap-#{$i}']{
    gap: px-to-rem($i);
  }

  [class~='md:border-radius-#{$i}'],
  [class~='md:b-radius-#{$i}'], 
  [class~='md:radius-#{$i}']{
    border-radius: px-to-rem($i);
  }

  [class~='md:border-b-r-#{$i}']{
    border-bottom-right-radius: px-to-rem($i) !important;
  }
  [class~='md:border-b-l-#{$i}']{
    border-bottom-left-radius: px-to-rem($i) !important;
  }

  [class~='md:bd-rad-i-#{$i}']{
    border-radius: px-to-rem($i) !important;
  }

  [class~='md:border-#{$i}']{
    border: #{$i}px solid;
  }

  [class~='md:border-t-#{$i}']{
    border-top: #{$i}px solid;
  }

  [class~='md:border-b-#{$i}']{
    border-bottom: #{$i}px solid;
  }

  [class~='md:border-l-#{$i}']{
    border-left: #{$i}px solid;
  }

  [class~='md:border-r-#{$i}']{
    border-right: #{$i}px solid;
  }

  [class~='md:border-dash']{
    border-style: dashed
  }
  [class~='md:line-height-#{$i}']{
    line-height: #{$i}px;
  }

  [class~='md:rotate-x-#{$i}']{
    transform: rotateX(#{$i}deg);
  }

  [class~='md:rotate-x--#{$i}']{
    transform: rotateX(-#{$i}deg);
  }

  [class~='md:rotate-y-#{$i}']{
    transform: rotateY(#{$i}deg);
  }

  [class~='md:rotate-y--#{$i}']{
    transform: rotateY(-#{$i}deg);
  }

  [class~='md:rotate-z-#{$i}']{
    transform: rotateZ(#{$i}deg);
  }

  [class~='md:rotate-z--#{$i}']{
    transform: rotateZ(-#{$i}deg);
  }

  [class~='md:opacity-#{$i}']{
    opacity: #{$i}+'%';
  }

  @for $j from 1 through 5 {
    $value: $i * $j;

    [class~='md:aspect-ratio-#{$i}-#{$value}'],
    [class~='md:ratio-#{$i}-#{$value}']{
      aspect-ratio: $i / calc(#{$i} * #{$value});
    }
  }

  /** {{breakpoint_end}} **/
}
    

@include lg {
        /** {{breakpoint_start}} **/

  /**
    * Margin
    */
  [class~='lg:mt-#{$i}']{
    margin-top: #{$i}px;
  }


  [class~='lg:mb-#{$i}']{
    margin-bottom: #{$i}px;
  }


  [class~='lg:ml-#{$i}']{
    margin-left: #{$i}px;
  }

  [class~='lg:mr-#{$i}']{
    margin-right: #{$i}px;
  }

  [class~='lg:mx-#{$i}']{
    margin-left: #{$i}px;
    margin-right: #{$i}px;
  }

  [class~='lg:my-#{$i}']{
    margin-top: #{$i}px;
    margin-bottom: #{$i}px;
  }

  [class~='lg:m-#{$i}']{
    margin: #{$i}px;
  }

  /**
    * Padding
    */

  [class~='lg:p-#{$i}']{
    padding: #{$i}px;
  }

  [class~='lg:pt-#{$i}']{
    padding-top: #{$i}px;
  }

  [class~='lg:pb-#{$i}']{
    padding-bottom: #{$i}px;
  }


  [class~='lg:pl-#{$i}']{
    padding-left: #{$i}px;
  }

  [class~='lg:pr-#{$i}']{
    padding-right: #{$i}px;
  }

  [class~='lg:px-#{$i}']{
    padding-left: #{$i}px;
    padding-right: #{$i}px;
  }

  [class~='lg:py-#{$i}']{
    padding-top: #{$i}px;
    padding-bottom: #{$i}px;
  }


  /**
    * Width
    */

  [class~='lg:w-#{$i}']{
    width: #{$i}px;
  }

  [class~='lg:w-#{($i + $loop-end)}']{
    width: #{($i + $loop-end)}px;
  }

  [class~='lg:w-#{($i + $loop-end + $loop-end)}']{
    width: #{($i + $loop-end + $loop-end)}px;
  }

  [class~='lg:w-#{$i}p']{
    width: $i+#{'%'};
  }

  [class~='lg:max-w-#{$i}p']{
    max-width: $i+#{'%'};
  }


  [class~='lg:min-w-#{$i}']{
    min-width: #{$i}px;
  }

  [class~='lg:min-w-#{($i + $loop-end)}']{
    min-width: #{($i + $loop-end)}px;
  }

  [class~='lg:min-w-#{($i + $loop-end + $loop-end)}']{
    min-width: #{($i + $loop-end + $loop-end)}px;
  }

  [class~='lg:min-w-#{$i}p']{
    min-width: $i+#{'%'};
  }

  /**
    * Height
    */

  [class~='lg:h-#{$i}']{
    height: #{$i}px;
  }

  [class~='lg:h-#{$i}p']{
    height: $i+#{'%'};
  }

  [class~='lg:t-#{$i}']{
    top: #{$i}px;
  }

  [class~='lg:t-#{$i}p']{
    top: $i+#{'%'};
  }

  [class~='lg:b-#{$i}']{
    bottom: #{$i}px;
  }

  [class~='lg:b-#{$i}p']{
    bottom: $i+#{'%'};
  }

  [class~='lg:l-#{$i}']{
    left: #{$i}px;
  }

  [class~='lg:l-#{$i}p']{
    left: $i+#{'%'};
  }

  [class~='lg:r-#{$i}']{
    right: #{$i}px;
  }

  [class~='lg:r-#{$i}p']{
    right: $i+#{'%'};
  }

  [class~='lg:z-index-#{$i}'], [class~='lg:z-#{$i}']{
    z-index: $i;
  }

  [class~='lg:z-index--#{$i}'], [class~='lg:z--#{$i}']{
    z-index: -$i;
  }

  [class~='lg:grid-#{$i}-cols-auto']{
    grid-template-columns: repeat(#{$i}, auto);
  }

  [class~='lg:grid-#{$i}-cols-1fr']{
    grid-template-columns: repeat(#{$i}, 1fr);
  }

  [class~='lg:grid-col-span-#{$i}']{
    grid-column: span #{$i};
  }

  [class~='lg:gap-#{$i}']{
    gap: px-to-rem($i);
  }

  [class~='lg:border-radius-#{$i}'],
  [class~='lg:b-radius-#{$i}'], 
  [class~='lg:radius-#{$i}']{
    border-radius: px-to-rem($i);
  }

  [class~='lg:border-b-r-#{$i}']{
    border-bottom-right-radius: px-to-rem($i) !important;
  }
  [class~='lg:border-b-l-#{$i}']{
    border-bottom-left-radius: px-to-rem($i) !important;
  }

  [class~='lg:bd-rad-i-#{$i}']{
    border-radius: px-to-rem($i) !important;
  }

  [class~='lg:border-#{$i}']{
    border: #{$i}px solid;
  }

  [class~='lg:border-t-#{$i}']{
    border-top: #{$i}px solid;
  }

  [class~='lg:border-b-#{$i}']{
    border-bottom: #{$i}px solid;
  }

  [class~='lg:border-l-#{$i}']{
    border-left: #{$i}px solid;
  }

  [class~='lg:border-r-#{$i}']{
    border-right: #{$i}px solid;
  }

  [class~='lg:border-dash']{
    border-style: dashed
  }
  [class~='lg:line-height-#{$i}']{
    line-height: #{$i}px;
  }

  [class~='lg:rotate-x-#{$i}']{
    transform: rotateX(#{$i}deg);
  }

  [class~='lg:rotate-x--#{$i}']{
    transform: rotateX(-#{$i}deg);
  }

  [class~='lg:rotate-y-#{$i}']{
    transform: rotateY(#{$i}deg);
  }

  [class~='lg:rotate-y--#{$i}']{
    transform: rotateY(-#{$i}deg);
  }

  [class~='lg:rotate-z-#{$i}']{
    transform: rotateZ(#{$i}deg);
  }

  [class~='lg:rotate-z--#{$i}']{
    transform: rotateZ(-#{$i}deg);
  }

  [class~='lg:opacity-#{$i}']{
    opacity: #{$i}+'%';
  }

  @for $j from 1 through 5 {
    $value: $i * $j;

    [class~='lg:aspect-ratio-#{$i}-#{$value}'],
    [class~='lg:ratio-#{$i}-#{$value}']{
      aspect-ratio: $i / calc(#{$i} * #{$value});
    }
  }

  /** {{breakpoint_end}} **/
}
    

@include xl {
        /** {{breakpoint_start}} **/

  /**
    * Margin
    */
  [class~='xl:mt-#{$i}']{
    margin-top: #{$i}px;
  }


  [class~='xl:mb-#{$i}']{
    margin-bottom: #{$i}px;
  }


  [class~='xl:ml-#{$i}']{
    margin-left: #{$i}px;
  }

  [class~='xl:mr-#{$i}']{
    margin-right: #{$i}px;
  }

  [class~='xl:mx-#{$i}']{
    margin-left: #{$i}px;
    margin-right: #{$i}px;
  }

  [class~='xl:my-#{$i}']{
    margin-top: #{$i}px;
    margin-bottom: #{$i}px;
  }

  [class~='xl:m-#{$i}']{
    margin: #{$i}px;
  }

  /**
    * Padding
    */

  [class~='xl:p-#{$i}']{
    padding: #{$i}px;
  }

  [class~='xl:pt-#{$i}']{
    padding-top: #{$i}px;
  }

  [class~='xl:pb-#{$i}']{
    padding-bottom: #{$i}px;
  }


  [class~='xl:pl-#{$i}']{
    padding-left: #{$i}px;
  }

  [class~='xl:pr-#{$i}']{
    padding-right: #{$i}px;
  }

  [class~='xl:px-#{$i}']{
    padding-left: #{$i}px;
    padding-right: #{$i}px;
  }

  [class~='xl:py-#{$i}']{
    padding-top: #{$i}px;
    padding-bottom: #{$i}px;
  }


  /**
    * Width
    */

  [class~='xl:w-#{$i}']{
    width: #{$i}px;
  }

  [class~='xl:w-#{($i + $loop-end)}']{
    width: #{($i + $loop-end)}px;
  }

  [class~='xl:w-#{($i + $loop-end + $loop-end)}']{
    width: #{($i + $loop-end + $loop-end)}px;
  }

  [class~='xl:w-#{$i}p']{
    width: $i+#{'%'};
  }

  [class~='xl:max-w-#{$i}p']{
    max-width: $i+#{'%'};
  }


  [class~='xl:min-w-#{$i}']{
    min-width: #{$i}px;
  }

  [class~='xl:min-w-#{($i + $loop-end)}']{
    min-width: #{($i + $loop-end)}px;
  }

  [class~='xl:min-w-#{($i + $loop-end + $loop-end)}']{
    min-width: #{($i + $loop-end + $loop-end)}px;
  }

  [class~='xl:min-w-#{$i}p']{
    min-width: $i+#{'%'};
  }

  /**
    * Height
    */

  [class~='xl:h-#{$i}']{
    height: #{$i}px;
  }

  [class~='xl:h-#{$i}p']{
    height: $i+#{'%'};
  }

  [class~='xl:t-#{$i}']{
    top: #{$i}px;
  }

  [class~='xl:t-#{$i}p']{
    top: $i+#{'%'};
  }

  [class~='xl:b-#{$i}']{
    bottom: #{$i}px;
  }

  [class~='xl:b-#{$i}p']{
    bottom: $i+#{'%'};
  }

  [class~='xl:l-#{$i}']{
    left: #{$i}px;
  }

  [class~='xl:l-#{$i}p']{
    left: $i+#{'%'};
  }

  [class~='xl:r-#{$i}']{
    right: #{$i}px;
  }

  [class~='xl:r-#{$i}p']{
    right: $i+#{'%'};
  }

  [class~='xl:z-index-#{$i}'], [class~='xl:z-#{$i}']{
    z-index: $i;
  }

  [class~='xl:z-index--#{$i}'], [class~='xl:z--#{$i}']{
    z-index: -$i;
  }

  [class~='xl:grid-#{$i}-cols-auto']{
    grid-template-columns: repeat(#{$i}, auto);
  }

  [class~='xl:grid-#{$i}-cols-1fr']{
    grid-template-columns: repeat(#{$i}, 1fr);
  }

  [class~='xl:grid-col-span-#{$i}']{
    grid-column: span #{$i};
  }

  [class~='xl:gap-#{$i}']{
    gap: px-to-rem($i);
  }

  [class~='xl:border-radius-#{$i}'],
  [class~='xl:b-radius-#{$i}'], 
  [class~='xl:radius-#{$i}']{
    border-radius: px-to-rem($i);
  }

  [class~='xl:border-b-r-#{$i}']{
    border-bottom-right-radius: px-to-rem($i) !important;
  }
  [class~='xl:border-b-l-#{$i}']{
    border-bottom-left-radius: px-to-rem($i) !important;
  }

  [class~='xl:bd-rad-i-#{$i}']{
    border-radius: px-to-rem($i) !important;
  }

  [class~='xl:border-#{$i}']{
    border: #{$i}px solid;
  }

  [class~='xl:border-t-#{$i}']{
    border-top: #{$i}px solid;
  }

  [class~='xl:border-b-#{$i}']{
    border-bottom: #{$i}px solid;
  }

  [class~='xl:border-l-#{$i}']{
    border-left: #{$i}px solid;
  }

  [class~='xl:border-r-#{$i}']{
    border-right: #{$i}px solid;
  }

  [class~='xl:border-dash']{
    border-style: dashed
  }
  [class~='xl:line-height-#{$i}']{
    line-height: #{$i}px;
  }

  [class~='xl:rotate-x-#{$i}']{
    transform: rotateX(#{$i}deg);
  }

  [class~='xl:rotate-x--#{$i}']{
    transform: rotateX(-#{$i}deg);
  }

  [class~='xl:rotate-y-#{$i}']{
    transform: rotateY(#{$i}deg);
  }

  [class~='xl:rotate-y--#{$i}']{
    transform: rotateY(-#{$i}deg);
  }

  [class~='xl:rotate-z-#{$i}']{
    transform: rotateZ(#{$i}deg);
  }

  [class~='xl:rotate-z--#{$i}']{
    transform: rotateZ(-#{$i}deg);
  }

  [class~='xl:opacity-#{$i}']{
    opacity: #{$i}+'%';
  }

  @for $j from 1 through 5 {
    $value: $i * $j;

    [class~='xl:aspect-ratio-#{$i}-#{$value}'],
    [class~='xl:ratio-#{$i}-#{$value}']{
      aspect-ratio: $i / calc(#{$i} * #{$value});
    }
  }

  /** {{breakpoint_end}} **/
}
    

}

@for $i from 0 through 800 {

   
@include sm {
        /** {{breakpoint_start}} **/

  [class~='sm:h-#{$i}vh']{
    height: #{$i}vh;
  }

  [class~='sm:max-h-#{$i}vh']{
    max-height: #{$i}vh;
  }

  [class~='sm:min-h-#{$i}vh']{
    min-height: #{$i}vh;
  }

  [class~='sm:max-w-#{$i}']{
    max-width: #{$i}px;
  }

  [class~='sm:text-#{$i}'],
  [class~='sm:text-size-#{$i}'],
  [class~='sm:font-#{$i}'], 
  [class~='sm:font-size-#{$i}']{
    font-size: #{$i}px;
  }

  /** {{breakpoint_end}} **/
}
    

@include md {
        /** {{breakpoint_start}} **/

  [class~='md:h-#{$i}vh']{
    height: #{$i}vh;
  }

  [class~='md:max-h-#{$i}vh']{
    max-height: #{$i}vh;
  }

  [class~='md:min-h-#{$i}vh']{
    min-height: #{$i}vh;
  }

  [class~='md:max-w-#{$i}']{
    max-width: #{$i}px;
  }

  [class~='md:text-#{$i}'],
  [class~='md:text-size-#{$i}'],
  [class~='md:font-#{$i}'], 
  [class~='md:font-size-#{$i}']{
    font-size: #{$i}px;
  }

  /** {{breakpoint_end}} **/
}
    

@include lg {
        /** {{breakpoint_start}} **/

  [class~='lg:h-#{$i}vh']{
    height: #{$i}vh;
  }

  [class~='lg:max-h-#{$i}vh']{
    max-height: #{$i}vh;
  }

  [class~='lg:min-h-#{$i}vh']{
    min-height: #{$i}vh;
  }

  [class~='lg:max-w-#{$i}']{
    max-width: #{$i}px;
  }

  [class~='lg:text-#{$i}'],
  [class~='lg:text-size-#{$i}'],
  [class~='lg:font-#{$i}'], 
  [class~='lg:font-size-#{$i}']{
    font-size: #{$i}px;
  }

  /** {{breakpoint_end}} **/
}
    

@include xl {
        /** {{breakpoint_start}} **/

  [class~='xl:h-#{$i}vh']{
    height: #{$i}vh;
  }

  [class~='xl:max-h-#{$i}vh']{
    max-height: #{$i}vh;
  }

  [class~='xl:min-h-#{$i}vh']{
    min-height: #{$i}vh;
  }

  [class~='xl:max-w-#{$i}']{
    max-width: #{$i}px;
  }

  [class~='xl:text-#{$i}'],
  [class~='xl:text-size-#{$i}'],
  [class~='xl:font-#{$i}'], 
  [class~='xl:font-size-#{$i}']{
    font-size: #{$i}px;
  }

  /** {{breakpoint_end}} **/
}
    
}

 
@include sm {
        /** {{breakpoint_start}} **/

@for $i from 1 through 9 {
  $value: $i * 100;

  [class~='sm:weight-#{$value}'],
  [class~='sm:font-weight-#{$value}'], 
  [class~='sm:text-weight-#{$value}']
  {
    font-weight: #{$value};
  }
}

/** {{breakpoint_end}} **/
}
    

@include md {
        /** {{breakpoint_start}} **/

@for $i from 1 through 9 {
  $value: $i * 100;

  [class~='md:weight-#{$value}'],
  [class~='md:font-weight-#{$value}'], 
  [class~='md:text-weight-#{$value}']
  {
    font-weight: #{$value};
  }
}

/** {{breakpoint_end}} **/
}
    

@include lg {
        /** {{breakpoint_start}} **/

@for $i from 1 through 9 {
  $value: $i * 100;

  [class~='lg:weight-#{$value}'],
  [class~='lg:font-weight-#{$value}'], 
  [class~='lg:text-weight-#{$value}']
  {
    font-weight: #{$value};
  }
}

/** {{breakpoint_end}} **/
}
    

@include xl {
        /** {{breakpoint_start}} **/

@for $i from 1 through 9 {
  $value: $i * 100;

  [class~='xl:weight-#{$value}'],
  [class~='xl:font-weight-#{$value}'], 
  [class~='xl:text-weight-#{$value}']
  {
    font-weight: #{$value};
  }
}

/** {{breakpoint_end}} **/
}
    

 
@include sm {
        /** {{breakpoint_start}} **/

[class~='sm:w-fit']{
  width: fit-content;
}

[class~='sm:h-fit']{
  height: fit-content;
}

[class~='sm:p-absolute'], [class~='sm:absolute']{
  position: absolute;
}

[class~='sm:p-relative'], [class~='sm:relative']{
  position: relative;
}

[class~='sm:p-fixed'], [class~='sm:fixed']{
  position: fixed;
}

[class~='sm:p-static'], [class~='sm:static']{
  position: static;
}

[class~='sm:p-sticky'], [class~='sm:sticky']{
  position: sticky;
}

[class~='sm:mx-auto']{
  margin-left: auto;
  margin-right: auto;
}

[class~='sm:border-none']{
  border: none;
}

[class~='sm:bold']{
  font-weight: bold;
}

[class~='sm:bolder']{
  font-weight: bolder;
}

[class~='sm:light']{
  font-weight: light;
}

[class~='sm:lighter']{
  font-weight: lighter;
}

[class~='sm:text-right']{
  text-align: right;
}

[class~='sm:text-center']{
  text-align: center;
}

[class~='sm:text-left']{
  text-align: left;
}

[class~='sm:pointer'],
[class~='sm:is-link']{
  cursor: pointer;
}

[class~='sm:font-largest'], [class~='sm:text-largest']{
  font-size: $largest;
}

[class~='sm:font-larger'], [class~='sm:text-larger']{
  font-size: $larger;
}

[class~='sm:font-large'], [class~='sm:text-large']{
  font-size: $large;
}

[class~='sm:font-medium'], [class~='sm:text-medium']{
  font-size: $medium;
}

[class~='sm:font-small'], [class~='sm:text-small']{
  font-size: $small;
}

[class~='sm:font-smaller'], [class~='sm:text-smaller']{
  font-size: $smaller;
}

[class~='sm:d-block'], [class~='sm:block']{
  display: block;
}

[class~='sm:d-inline-block'], [class~='sm:i-block']{
  display: inline-block;
}

[class~='sm:d-inline'], [class~='sm:inline']{
  display: inline;
}

[class~='sm:d-none'], [class~='sm:hidden']{
  display: none;
}

[class~='sm:d-grid'], [class~='sm:grid']{
  display: grid;
}

[class~='sm:d-flex'], [class~='sm:flex']{
  display: flex;
}

[class~='sm:d-inline-flex'], [class~='sm:i-flex']{
  display: inline-flex;
}

[class~='sm:flex-column'], [class~='sm:flex-col']{
  flex-direction: column;
}

[class~='sm:flex-row']{
  flex-direction: row;
}

[class~='sm:float-right']{
  float: right;
}

[class~='sm:float-left']{
  float: left;
}

[class~='sm:space-between']{
  justify-content: space-between;
}

[class~='sm:center']{
  justify-content: center;
}

[class~='sm:align-items-center'],
[class~='sm:items-center']{
  align-items: center;
}
[class~='sm:items-baseline']{
  align-items: baseline;
}

[class~='sm:items-start']{
  align-items: flex-start;
}

[class~='sm:content-end']{
  justify-content: flex-end;
  align-content: flex-end;
}

[class~='sm:overflow-hidden']{
  overflow: hidden;
}

[class~='sm:scroll-y']{
  overflow-y: scroll;
}

[class~='sm:no-scrollbar']{
  &::-webkit-scrollbar {
    width: 0px;
  }
}

[class~='sm:bg-green'],
[class~='sm:bg-success']{
  background-color: $success-color;
}

[class~='sm:bg-red'],
[class~='sm:bg-danger'],
[class~='sm:bg-error']{
  background-color: $danger-color;
}

[class~='sm:text-red'],
[class~='sm:text-danger'],
[class~='sm:text-error']{
  color: $danger-color;
}

[class~='sm:bg-orange'],
[class~='sm:bg-warning']{
  background-color: $warning-color;
}

[class~='sm:bg-blue'],
[class~='sm:bg-info']{
  background-color: $info-color;
}

[class~='sm:bg-none']{
  background-color: initial;
}

[class~='sm:uppercase']{
  text-transform: uppercase;
}

[class~='sm:lowercase']{
  text-transform: lowercase;
}

[class~='sm:capitalize']{
  text-transform: capitalize;
}

[class~='sm:sentence-case']{
  text-transform: lowercase;

  &:first-letter {
    text-transform: uppercase;
  }
}

[class~='sm:whitespace-nowrap']{
  white-space: nowrap;
}

[class~='sm:object-fit']{
  object-fit: cover;
}

[class~='sm:round']{
  border-radius: 50%;
}

[class~='sm:box-shadow']{
  box-shadow: 0px 6px 12px rgba(4, 9, 33, 0.08);
}

[class~='sm:w-full']{
  width: 100%;
}

[class~='sm:h-full']{
  height: 100%;
}

/** {{breakpoint_end}} **/
}
    

@include md {
        /** {{breakpoint_start}} **/

[class~='md:w-fit']{
  width: fit-content;
}

[class~='md:h-fit']{
  height: fit-content;
}

[class~='md:p-absolute'], [class~='md:absolute']{
  position: absolute;
}

[class~='md:p-relative'], [class~='md:relative']{
  position: relative;
}

[class~='md:p-fixed'], [class~='md:fixed']{
  position: fixed;
}

[class~='md:p-static'], [class~='md:static']{
  position: static;
}

[class~='md:p-sticky'], [class~='md:sticky']{
  position: sticky;
}

[class~='md:mx-auto']{
  margin-left: auto;
  margin-right: auto;
}

[class~='md:border-none']{
  border: none;
}

[class~='md:bold']{
  font-weight: bold;
}

[class~='md:bolder']{
  font-weight: bolder;
}

[class~='md:light']{
  font-weight: light;
}

[class~='md:lighter']{
  font-weight: lighter;
}

[class~='md:text-right']{
  text-align: right;
}

[class~='md:text-center']{
  text-align: center;
}

[class~='md:text-left']{
  text-align: left;
}

[class~='md:pointer'],
[class~='md:is-link']{
  cursor: pointer;
}

[class~='md:font-largest'], [class~='md:text-largest']{
  font-size: $largest;
}

[class~='md:font-larger'], [class~='md:text-larger']{
  font-size: $larger;
}

[class~='md:font-large'], [class~='md:text-large']{
  font-size: $large;
}

[class~='md:font-medium'], [class~='md:text-medium']{
  font-size: $medium;
}

[class~='md:font-small'], [class~='md:text-small']{
  font-size: $small;
}

[class~='md:font-smaller'], [class~='md:text-smaller']{
  font-size: $smaller;
}

[class~='md:d-block'], [class~='md:block']{
  display: block;
}

[class~='md:d-inline-block'], [class~='md:i-block']{
  display: inline-block;
}

[class~='md:d-inline'], [class~='md:inline']{
  display: inline;
}

[class~='md:d-none'], [class~='md:hidden']{
  display: none;
}

[class~='md:d-grid'], [class~='md:grid']{
  display: grid;
}

[class~='md:d-flex'], [class~='md:flex']{
  display: flex;
}

[class~='md:d-inline-flex'], [class~='md:i-flex']{
  display: inline-flex;
}

[class~='md:flex-column'], [class~='md:flex-col']{
  flex-direction: column;
}

[class~='md:flex-row']{
  flex-direction: row;
}

[class~='md:float-right']{
  float: right;
}

[class~='md:float-left']{
  float: left;
}

[class~='md:space-between']{
  justify-content: space-between;
}

[class~='md:center']{
  justify-content: center;
}

[class~='md:align-items-center'],
[class~='md:items-center']{
  align-items: center;
}
[class~='md:items-baseline']{
  align-items: baseline;
}

[class~='md:items-start']{
  align-items: flex-start;
}

[class~='md:content-end']{
  justify-content: flex-end;
  align-content: flex-end;
}

[class~='md:overflow-hidden']{
  overflow: hidden;
}

[class~='md:scroll-y']{
  overflow-y: scroll;
}

[class~='md:no-scrollbar']{
  &::-webkit-scrollbar {
    width: 0px;
  }
}

[class~='md:bg-green'],
[class~='md:bg-success']{
  background-color: $success-color;
}

[class~='md:bg-red'],
[class~='md:bg-danger'],
[class~='md:bg-error']{
  background-color: $danger-color;
}

[class~='md:text-red'],
[class~='md:text-danger'],
[class~='md:text-error']{
  color: $danger-color;
}

[class~='md:bg-orange'],
[class~='md:bg-warning']{
  background-color: $warning-color;
}

[class~='md:bg-blue'],
[class~='md:bg-info']{
  background-color: $info-color;
}

[class~='md:bg-none']{
  background-color: initial;
}

[class~='md:uppercase']{
  text-transform: uppercase;
}

[class~='md:lowercase']{
  text-transform: lowercase;
}

[class~='md:capitalize']{
  text-transform: capitalize;
}

[class~='md:sentence-case']{
  text-transform: lowercase;

  &:first-letter {
    text-transform: uppercase;
  }
}

[class~='md:whitespace-nowrap']{
  white-space: nowrap;
}

[class~='md:object-fit']{
  object-fit: cover;
}

[class~='md:round']{
  border-radius: 50%;
}

[class~='md:box-shadow']{
  box-shadow: 0px 6px 12px rgba(4, 9, 33, 0.08);
}

[class~='md:w-full']{
  width: 100%;
}

[class~='md:h-full']{
  height: 100%;
}

/** {{breakpoint_end}} **/
}
    

@include lg {
        /** {{breakpoint_start}} **/

[class~='lg:w-fit']{
  width: fit-content;
}

[class~='lg:h-fit']{
  height: fit-content;
}

[class~='lg:p-absolute'], [class~='lg:absolute']{
  position: absolute;
}

[class~='lg:p-relative'], [class~='lg:relative']{
  position: relative;
}

[class~='lg:p-fixed'], [class~='lg:fixed']{
  position: fixed;
}

[class~='lg:p-static'], [class~='lg:static']{
  position: static;
}

[class~='lg:p-sticky'], [class~='lg:sticky']{
  position: sticky;
}

[class~='lg:mx-auto']{
  margin-left: auto;
  margin-right: auto;
}

[class~='lg:border-none']{
  border: none;
}

[class~='lg:bold']{
  font-weight: bold;
}

[class~='lg:bolder']{
  font-weight: bolder;
}

[class~='lg:light']{
  font-weight: light;
}

[class~='lg:lighter']{
  font-weight: lighter;
}

[class~='lg:text-right']{
  text-align: right;
}

[class~='lg:text-center']{
  text-align: center;
}

[class~='lg:text-left']{
  text-align: left;
}

[class~='lg:pointer'],
[class~='lg:is-link']{
  cursor: pointer;
}

[class~='lg:font-largest'], [class~='lg:text-largest']{
  font-size: $largest;
}

[class~='lg:font-larger'], [class~='lg:text-larger']{
  font-size: $larger;
}

[class~='lg:font-large'], [class~='lg:text-large']{
  font-size: $large;
}

[class~='lg:font-medium'], [class~='lg:text-medium']{
  font-size: $medium;
}

[class~='lg:font-small'], [class~='lg:text-small']{
  font-size: $small;
}

[class~='lg:font-smaller'], [class~='lg:text-smaller']{
  font-size: $smaller;
}

[class~='lg:d-block'], [class~='lg:block']{
  display: block;
}

[class~='lg:d-inline-block'], [class~='lg:i-block']{
  display: inline-block;
}

[class~='lg:d-inline'], [class~='lg:inline']{
  display: inline;
}

[class~='lg:d-none'], [class~='lg:hidden']{
  display: none;
}

[class~='lg:d-grid'], [class~='lg:grid']{
  display: grid;
}

[class~='lg:d-flex'], [class~='lg:flex']{
  display: flex;
}

[class~='lg:d-inline-flex'], [class~='lg:i-flex']{
  display: inline-flex;
}

[class~='lg:flex-column'], [class~='lg:flex-col']{
  flex-direction: column;
}

[class~='lg:flex-row']{
  flex-direction: row;
}

[class~='lg:float-right']{
  float: right;
}

[class~='lg:float-left']{
  float: left;
}

[class~='lg:space-between']{
  justify-content: space-between;
}

[class~='lg:center']{
  justify-content: center;
}

[class~='lg:align-items-center'],
[class~='lg:items-center']{
  align-items: center;
}
[class~='lg:items-baseline']{
  align-items: baseline;
}

[class~='lg:items-start']{
  align-items: flex-start;
}

[class~='lg:content-end']{
  justify-content: flex-end;
  align-content: flex-end;
}

[class~='lg:overflow-hidden']{
  overflow: hidden;
}

[class~='lg:scroll-y']{
  overflow-y: scroll;
}

[class~='lg:no-scrollbar']{
  &::-webkit-scrollbar {
    width: 0px;
  }
}

[class~='lg:bg-green'],
[class~='lg:bg-success']{
  background-color: $success-color;
}

[class~='lg:bg-red'],
[class~='lg:bg-danger'],
[class~='lg:bg-error']{
  background-color: $danger-color;
}

[class~='lg:text-red'],
[class~='lg:text-danger'],
[class~='lg:text-error']{
  color: $danger-color;
}

[class~='lg:bg-orange'],
[class~='lg:bg-warning']{
  background-color: $warning-color;
}

[class~='lg:bg-blue'],
[class~='lg:bg-info']{
  background-color: $info-color;
}

[class~='lg:bg-none']{
  background-color: initial;
}

[class~='lg:uppercase']{
  text-transform: uppercase;
}

[class~='lg:lowercase']{
  text-transform: lowercase;
}

[class~='lg:capitalize']{
  text-transform: capitalize;
}

[class~='lg:sentence-case']{
  text-transform: lowercase;

  &:first-letter {
    text-transform: uppercase;
  }
}

[class~='lg:whitespace-nowrap']{
  white-space: nowrap;
}

[class~='lg:object-fit']{
  object-fit: cover;
}

[class~='lg:round']{
  border-radius: 50%;
}

[class~='lg:box-shadow']{
  box-shadow: 0px 6px 12px rgba(4, 9, 33, 0.08);
}

[class~='lg:w-full']{
  width: 100%;
}

[class~='lg:h-full']{
  height: 100%;
}

/** {{breakpoint_end}} **/
}
    

@include xl {
        /** {{breakpoint_start}} **/

[class~='xl:w-fit']{
  width: fit-content;
}

[class~='xl:h-fit']{
  height: fit-content;
}

[class~='xl:p-absolute'], [class~='xl:absolute']{
  position: absolute;
}

[class~='xl:p-relative'], [class~='xl:relative']{
  position: relative;
}

[class~='xl:p-fixed'], [class~='xl:fixed']{
  position: fixed;
}

[class~='xl:p-static'], [class~='xl:static']{
  position: static;
}

[class~='xl:p-sticky'], [class~='xl:sticky']{
  position: sticky;
}

[class~='xl:mx-auto']{
  margin-left: auto;
  margin-right: auto;
}

[class~='xl:border-none']{
  border: none;
}

[class~='xl:bold']{
  font-weight: bold;
}

[class~='xl:bolder']{
  font-weight: bolder;
}

[class~='xl:light']{
  font-weight: light;
}

[class~='xl:lighter']{
  font-weight: lighter;
}

[class~='xl:text-right']{
  text-align: right;
}

[class~='xl:text-center']{
  text-align: center;
}

[class~='xl:text-left']{
  text-align: left;
}

[class~='xl:pointer'],
[class~='xl:is-link']{
  cursor: pointer;
}

[class~='xl:font-largest'], [class~='xl:text-largest']{
  font-size: $largest;
}

[class~='xl:font-larger'], [class~='xl:text-larger']{
  font-size: $larger;
}

[class~='xl:font-large'], [class~='xl:text-large']{
  font-size: $large;
}

[class~='xl:font-medium'], [class~='xl:text-medium']{
  font-size: $medium;
}

[class~='xl:font-small'], [class~='xl:text-small']{
  font-size: $small;
}

[class~='xl:font-smaller'], [class~='xl:text-smaller']{
  font-size: $smaller;
}

[class~='xl:d-block'], [class~='xl:block']{
  display: block;
}

[class~='xl:d-inline-block'], [class~='xl:i-block']{
  display: inline-block;
}

[class~='xl:d-inline'], [class~='xl:inline']{
  display: inline;
}

[class~='xl:d-none'], [class~='xl:hidden']{
  display: none;
}

[class~='xl:d-grid'], [class~='xl:grid']{
  display: grid;
}

[class~='xl:d-flex'], [class~='xl:flex']{
  display: flex;
}

[class~='xl:d-inline-flex'], [class~='xl:i-flex']{
  display: inline-flex;
}

[class~='xl:flex-column'], [class~='xl:flex-col']{
  flex-direction: column;
}

[class~='xl:flex-row']{
  flex-direction: row;
}

[class~='xl:float-right']{
  float: right;
}

[class~='xl:float-left']{
  float: left;
}

[class~='xl:space-between']{
  justify-content: space-between;
}

[class~='xl:center']{
  justify-content: center;
}

[class~='xl:align-items-center'],
[class~='xl:items-center']{
  align-items: center;
}
[class~='xl:items-baseline']{
  align-items: baseline;
}

[class~='xl:items-start']{
  align-items: flex-start;
}

[class~='xl:content-end']{
  justify-content: flex-end;
  align-content: flex-end;
}

[class~='xl:overflow-hidden']{
  overflow: hidden;
}

[class~='xl:scroll-y']{
  overflow-y: scroll;
}

[class~='xl:no-scrollbar']{
  &::-webkit-scrollbar {
    width: 0px;
  }
}

[class~='xl:bg-green'],
[class~='xl:bg-success']{
  background-color: $success-color;
}

[class~='xl:bg-red'],
[class~='xl:bg-danger'],
[class~='xl:bg-error']{
  background-color: $danger-color;
}

[class~='xl:text-red'],
[class~='xl:text-danger'],
[class~='xl:text-error']{
  color: $danger-color;
}

[class~='xl:bg-orange'],
[class~='xl:bg-warning']{
  background-color: $warning-color;
}

[class~='xl:bg-blue'],
[class~='xl:bg-info']{
  background-color: $info-color;
}

[class~='xl:bg-none']{
  background-color: initial;
}

[class~='xl:uppercase']{
  text-transform: uppercase;
}

[class~='xl:lowercase']{
  text-transform: lowercase;
}

[class~='xl:capitalize']{
  text-transform: capitalize;
}

[class~='xl:sentence-case']{
  text-transform: lowercase;

  &:first-letter {
    text-transform: uppercase;
  }
}

[class~='xl:whitespace-nowrap']{
  white-space: nowrap;
}

[class~='xl:object-fit']{
  object-fit: cover;
}

[class~='xl:round']{
  border-radius: 50%;
}

[class~='xl:box-shadow']{
  box-shadow: 0px 6px 12px rgba(4, 9, 33, 0.08);
}

[class~='xl:w-full']{
  width: 100%;
}

[class~='xl:h-full']{
  height: 100%;
}

/** {{breakpoint_end}} **/
}
    

