@use 'variables' as *;
@use 'respond' as *;
@use 'utilities' as *;

$loop-end: 200;
$loop-start: 0;

@for $i from $loop-end through $loop-start {

  /** {{breakpoint_start}} **/

  /**
    * Margin
    */
  .mt-#{$i} {
    margin-top: #{$i}px;
  }


  .mb-#{$i} {
    margin-bottom: #{$i}px;
  }


  .ml-#{$i} {
    margin-left: #{$i}px;
  }

  .mr-#{$i} {
    margin-right: #{$i}px;
  }

  .mx-#{$i} {
    margin-left: #{$i}px;
    margin-right: #{$i}px;
  }

  .my-#{$i} {
    margin-top: #{$i}px;
    margin-bottom: #{$i}px;
  }

  .m-#{$i} {
    margin: #{$i}px;
  }

  /**
    * Padding
    */

  .p-#{$i} {
    padding: #{$i}px;
  }

  .pt-#{$i} {
    padding-top: #{$i}px;
  }

  .pb-#{$i} {
    padding-bottom: #{$i}px;
  }


  .pl-#{$i} {
    padding-left: #{$i}px;
  }

  .pr-#{$i} {
    padding-right: #{$i}px;
  }

  .px-#{$i} {
    padding-left: #{$i}px;
    padding-right: #{$i}px;
  }

  .py-#{$i} {
    padding-top: #{$i}px;
    padding-bottom: #{$i}px;
  }


  /**
    * Width
    */

  .w-#{$i} {
    width: #{$i}px;
  }

  .w-#{($i + $loop-end)} {
    width: #{($i + $loop-end)}px;
  }

  .w-#{($i + $loop-end + $loop-end)} {
    width: #{($i + $loop-end + $loop-end)}px;
  }

  .w-#{$i}p {
    width: $i+#{'%'};
  }

  .max-w-#{$i}p {
    max-width: $i+#{'%'};
  }


  .min-w-#{$i} {
    min-width: #{$i}px;
  }

  .min-w-#{($i + $loop-end)} {
    min-width: #{($i + $loop-end)}px;
  }

  .min-w-#{($i + $loop-end + $loop-end)} {
    min-width: #{($i + $loop-end + $loop-end)}px;
  }

  .min-w-#{$i}p {
    min-width: $i+#{'%'};
  }

  /**
    * Height
    */

  .h-#{$i} {
    height: #{$i}px;
  }

  .h-#{$i}p {
    height: $i+#{'%'};
  }

  .t-#{$i} {
    top: #{$i}px;
  }

  .t-#{$i}p {
    top: $i+#{'%'};
  }

  .b-#{$i} {
    bottom: #{$i}px;
  }

  .b-#{$i}p {
    bottom: $i+#{'%'};
  }

  .l-#{$i} {
    left: #{$i}px;
  }

  .l-#{$i}p {
    left: $i+#{'%'};
  }

  .r-#{$i} {
    right: #{$i}px;
  }

  .r-#{$i}p {
    right: $i+#{'%'};
  }

  .z-index-#{$i}, .z-#{$i} {
    z-index: $i;
  }

  .z-index--#{$i}, .z--#{$i} {
    z-index: -$i;
  }

  .grid-#{$i}-cols-auto {
    grid-template-columns: repeat(#{$i}, auto);
  }

  .grid-#{$i}-cols-1fr {
    grid-template-columns: repeat(#{$i}, 1fr);
  }

  .grid-col-span-#{$i} {
    grid-column: span #{$i};
  }

  .gap-#{$i} {
    gap: px-to-rem($i);
  }

  .border-radius-#{$i},
  .b-radius-#{$i}, 
  .radius-#{$i}  {
    border-radius: px-to-rem($i);
  }

  .border-b-r-#{$i} {
    border-bottom-right-radius: px-to-rem($i) !important;
  }
  .border-b-l-#{$i} {
    border-bottom-left-radius: px-to-rem($i) !important;
  }

  .bd-rad-i-#{$i} {
    border-radius: px-to-rem($i) !important;
  }

  .border-#{$i} {
    border: #{$i}px solid;
  }

  .border-t-#{$i} {
    border-top: #{$i}px solid;
  }

  .border-b-#{$i} {
    border-bottom: #{$i}px solid;
  }

  .border-l-#{$i} {
    border-left: #{$i}px solid;
  }

  .border-r-#{$i} {
    border-right: #{$i}px solid;
  }

  .border-dash {
    border-style: dashed
  }
  .line-height-#{$i} {
    line-height: #{$i}px;
  }

  .rotate-x-#{$i} {
    transform: rotateX(#{$i}deg);
  }

  .rotate-x--#{$i} {
    transform: rotateX(-#{$i}deg);
  }

  .rotate-y-#{$i} {
    transform: rotateY(#{$i}deg);
  }

  .rotate-y--#{$i} {
    transform: rotateY(-#{$i}deg);
  }

  .rotate-z-#{$i} {
    transform: rotateZ(#{$i}deg);
  }

  .rotate-z--#{$i} {
    transform: rotateZ(-#{$i}deg);
  }

  .opacity-#{$i} {
    opacity: #{$i}+'%';
  }

  @for $j from 1 through 5 {
    $value: $i * $j;

    .aspect-ratio-#{$i}-#{$value},
    .ratio-#{$i}-#{$value} {
      aspect-ratio: $i / calc(#{$i} * #{$value});
    }
  }

  /** {{breakpoint_end}} **/

}

@for $i from 0 through 800 {

  /** {{breakpoint_start}} **/

  .h-#{$i}vh {
    height: #{$i}vh;
  }

  .max-h-#{$i}vh {
    max-height: #{$i}vh;
  }

  .min-h-#{$i}vh {
    min-height: #{$i}vh;
  }

  .max-w-#{$i} {
    max-width: #{$i}px;
  }

  .text-#{$i},
  .text-size-#{$i},
  .font-#{$i}, 
  .font-size-#{$i} {
    font-size: #{$i}px;
  }

  /** {{breakpoint_end}} **/
}

/** {{breakpoint_start}} **/

@for $i from 1 through 9 {
  $value: $i * 100;

  .weight-#{$value},
  .font-weight-#{$value}, 
  .text-weight-#{$value}
  {
    font-weight: #{$value};
  }
}

/** {{breakpoint_end}} **/

/** {{breakpoint_start}} **/

.w-fit {
  width: fit-content;
}

.h-fit {
  height: fit-content;
}

.p-absolute, .absolute {
  position: absolute;
}

.p-relative, .relative {
  position: relative;
}

.p-fixed, .fixed {
  position: fixed;
}

.p-static, .static {
  position: static;
}

.p-sticky, .sticky {
  position: sticky;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.border-none {
  border: none;
}

.bold {
  font-weight: bold;
}

.bolder {
  font-weight: bolder;
}

.light {
  font-weight: light;
}

.lighter {
  font-weight: lighter;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.pointer,
.is-link {
  cursor: pointer;
}

.font-largest, .text-largest {
  font-size: $largest;
}

.font-larger, .text-larger {
  font-size: $larger;
}

.font-large, .text-large {
  font-size: $large;
}

.font-medium, .text-medium {
  font-size: $medium;
}

.font-small, .text-small {
  font-size: $small;
}

.font-smaller, .text-smaller {
  font-size: $smaller;
}

.d-block, .block {
  display: block;
}

.d-inline-block, .i-block {
  display: inline-block;
}

.d-inline, .inline {
  display: inline;
}

.d-none, .hidden {
  display: none;
}

.d-grid, .grid {
  display: grid;
}

.d-flex, .flex {
  display: flex;
}

.d-inline-flex, .i-flex {
  display: inline-flex;
}

.flex-column, .flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.space-between {
  justify-content: space-between;
}

.center {
  justify-content: center;
}

.align-items-center,
.items-center {
  align-items: center;
}
.items-baseline {
  align-items: baseline;
}

.items-start {
  align-items: flex-start;
}

.content-end {
  justify-content: flex-end;
  align-content: flex-end;
}

.overflow-hidden {
  overflow: hidden;
}

.scroll-y {
  overflow-y: scroll;
}

.no-scrollbar {
  &::-webkit-scrollbar {
    width: 0px;
  }
}

.bg-green,
.bg-success {
  background-color: $success-color;
}

.bg-red,
.bg-danger,
.bg-error {
  background-color: $danger-color;
}

.text-red,
.text-danger,
.text-error {
  color: $danger-color;
}

.bg-orange,
.bg-warning {
  background-color: $warning-color;
}

.bg-blue,
.bg-info {
  background-color: $info-color;
}

.bg-none {
  background-color: initial;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.capitalize {
  text-transform: capitalize;
}

.sentence-case {
  text-transform: lowercase;

  &:first-letter {
    text-transform: uppercase;
  }
}

.whitespace-nowrap {
  white-space: nowrap;
}

.object-fit {
  object-fit: cover;
}

.round {
  border-radius: 50%;
}

.box-shadow {
  box-shadow: 0px 6px 12px rgba(4, 9, 33, 0.08);
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

/** {{breakpoint_end}} **/

