

$info-color: #88bef5;
$warning-color: #feb062;
$danger-color: #ff304f;
$success-color: #2cb978;

$largest: calc(30/16)+rem;
$larger: calc(20/16)+rem;
$large: calc(16/16)+rem;

$medium: calc(14/16)+rem;
$small: calc(12/16)+rem;
$smaller: calc(10/16)+rem;

/** - System variables - */
$loop-end: 200;
$loop-start: 0;

$unit: px;

